/* Responsividade para celulares */
/* Responsividade para telas pequenas */
@media (max-width: 480px) {
  .linha-senha {
    align-items: stretch;
  }

  .campo-digitacao {
    min-width: 100px;
  }

  input[type="text"] {
    font-size: 16px;
  }

  label {
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
  }

  .img_fase_1 {
    width: 80%;
  }
}